@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Set your brand colors
$orange:		#FC6B0A;
$dark-purple:	#301CC9;
$off-white: 	#F6F6F6;
$woolwhite: 	#C0C0C0;
$foot-grey: 	#272727;
$danger:		#dc3545;

$secondary: #FCA40A;	// Main Secondary color */
$secondary-lightest: #FFC868;
$secondary-lighter: #FFB93F;
$secondary-darker: #C77F00;
$secondary-darkest: #9D6400;

$tertiary: #154EA7;	// Main Tertiary color */
$tertiary-lightest: #5980BF;
$tertiary-lighter: #3764AD;
$tertiary-darker: #0C3A83;
$tertiary-darkest: #072D68;

$complement: #06A086;	// Main Complement color */
$complement-lightest: #4CBAA8;
$complement-lighter: #29A691;
$complement-darker: #007E69;
$complement-darkest: #006353;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$open-sans: "Open Sans", sans-serif;
$grey-dark: $foot-grey;
$grey-light: $woolwhite;
$primary: $orange;
$link: $dark-purple;
$red: $danger;
$widescreen-enabled: false;
$fullhd-enabled: false;
$hr-background-color: $grey-light;

// Update some of Bulma's component variables
$body-background-color: $off-white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
// Import only what you need from Bulma
$footer-background-color: $off-white;
@import "../../../node_modules/bulma/bulma.sass";

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

body::-webkit-scrollbar {
    display: none!important;
}
::-webkit-scrollbar {
    display: none!important;
}
#content {
	display: flex;
	height: 100vh;
	flex-direction: column;
	// font-family: $open-sans;
	align-items: center;
	user-select: none;

	transition: all 0.15s ease-out;
	background: $foot-grey;
	color: $off-white;
	.light-theme & {
		background: darken($off-white, 2.5%);
		color: $foot-grey;
	}
}

header {
	display: inline-block;
	align-self: stretch;
	-webkit-app-region: drag;
	cursor: default;

	transition: all 0.15s ease-out;
	background: darken( $foot-grey, 3% );
	color: $off-white;
	.light-theme & {
		background: darken($off-white, 5%);
		color: $foot-grey;
	}
}

.left {
	float: left;
}

.right {
	float: right;
	display: inline;
	text-align: center;
}

.titleBar {
	font-size: 0.75rem;
	display: inline-block;
  	vertical-align: middle;
	padding: 0 5px;
}

.option {
	padding: 0 10px;
	-webkit-app-region: no-drag;
	cursor: default;
	float: right;
	display: inline-block;

	transition: all 0.15s ease-out;
	background: darken( $foot-grey, 5% );
	.light-theme & {
		background: darken($off-white, 10%);
	}
}

.optionx:hover {
	background: $red!important;
}

.option:hover {
	transition: all 0.15s ease-out;
	background: lighten( $foot-grey, 5% );
	.light-theme & {
		background: darken($off-white, 20%);
	}
}

.main-content {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

h1 {
	font-size: 2rem;
}

.rowSpacer {
	height: 14%;
}

.left-row {
	position: absolute;
	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.content-area {
	height: 350px;
	transition: all 0.15s ease-out;
	background-color: lighten($foot-grey, 2.5%);
	.light-theme & {
		background: darken($off-white, 5%);
	}
}

.row3-top {
	position: absolute;
	right: 5%;
  	top: 14%;
}
.row3-top img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 50%;
    height: 50%;
}

.row3-bottom {
	position: absolute;
	right: 50%;
  	bottom: 14%;
  	-webkit-transform: translate(33.33%, 0);
  	   transform: translate(33.33%, 0);
}

.func-btn {
	font-family: $open-sans;
	font-size: 1.25rem;
	padding: 10px 20px;
	margin: 20px 20px 20px 20px;
	width: 150px;


	transition: all 0.15s ease-out;
	color: $off-white;
	border: 2px solid darken($foot-grey, 5%);
	background: lighten($foot-grey, 5%);
	.light-theme & {
		color: $foot-grey;
		border: 2px solid darken($off-white, 10%);
		background: darken($off-white, 20%);
	}
}
.func-btn:hover {
	transition: all 0.15s ease-out;
	color: $off-white;
	border: 2px solid darken($foot-grey, 5%);
	background: lighten($foot-grey, 10%);
	.light-theme & {
		color: $foot-grey;
		border: 2px solid darken($off-white, 10%);
		background: darken($off-white, 30%);
	}
}
.func-btn:active, .func-btn:checked, .func-btn:focus {
	outline: none;
}

.setterBtn {
	font-size: 1.25rem;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;

	transition: all 0.15s ease-out;
	color: $off-white;
	border: 1px solid darken($foot-grey, 5%);
	background: lighten($foot-grey, 5%);
	.light-theme & {
		color: $foot-grey;
		border: 2px solid darken($off-white, 10%);
		background: darken($off-white, 20%);
	}
}
.setterBtn:hover {
	transition: all 0.15s ease-out;
	color: $off-white;
	border: 1px solid darken($foot-grey, 5%);
	background: lighten($foot-grey, 10%);
	.light-theme & {
		color: $foot-grey;
		border: 2px solid darken($off-white, 10%);
		background: darken($off-white, 30%);
	}
}
.setterBtn:active, .setterBtn:checked, .setterBtn:focus {
	outline: none;
}


.placeholder {
	transform: rotate(38deg);
	margin-top: 100px;
	margin-left: 100px;
}


.func1Rows {
	margin: 0 auto;
}
