<div class="columns has-text-centered">
	<div class="column">
		<div class="columns func1Rows">
			Hvor lang tid skal FocusLock køre?
		</div>
		<div class="columns func1Rows">
			<p>
				Timer:<br>
				<input type="number" name="runTimeHours" id="runTimeHours" min="0" max="5">
			</p>
		</div>
		<div class="columns func1Rows">
			<p>
				Minutter:<br>
				<input type="number" name="runTimeMinutes" id="runTimeMinutes" min="0" max="59">
			</p>
		</div>
	</div>
	<div class="column">
		col2
	</div>
	<div class="column">
		<div class="columns func1Rows">
			<p>
				Vælg hvilke programmer der må køre.
				<br><br>
			</p> <!-- TODO: pseudo:: if(_user.permission == 3) { disable the buttons } -->
		</div>
		<div class="columns func1Rows">
			<p>
				Programmer:<br><br>
				<a class="func-btn" name="runProcs" id="runProcs">Programmer</a>
			</p>
		</div>
		<div class="columns func1Rows">
			<p>
				Hjemmesider:<br><br>
				<a class="func-btn" name="runWeb" id="runWeb">Hjemmesider</a>
			</p>
		</div>
	</div>
</div>
